body {
    background: #F3EAE3;
    font-family: 'Montserrat';
    padding: 20px;
}
h1 {
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 5px;
}
h2 {
    font-family: 'Fraunces';
    font-size: 32px;
    margin-top: 12px;
}
h3 {
    color: #3D8168;
    font-family: 'Fraunces';
    font-size: 32px;
    margin: 0 20px 0 0;
}
.gray {
    color: gray;
}
.Mbottom {
    margin-bottom: 0;
}

/* CONTEUDO */
.card {
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* IMAGEM */
.img img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: auto;
}
.desktop {
    display: none;
}
/**/
.conteudo {
    padding: 5px 20px 25px 20px;
}
.perfume-content {
    line-height: 25px;
}
.price {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.price small {
    text-decoration: line-through;
}
.add-card {
    background: #3D8168;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 18px;
    padding: 15px 0;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.add-card svg {
    margin-right: 10px;
}

/* RESPONSIVO */

@media (min-width: 1024px) {
    .mobile {
        display: none;
    }
}